
header {
   height: 100px;
   border: solid black 1px;
   margin: 10px;
}
header h1 {
   margin-top: 30px;
 
}
header img {
   float: left;
   margin-right: 150px;
}

header, footer {
   background-color: #6A7340;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999966', endColorstr='#52622F'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#999966), to(#52622F)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #999966, #52622F ); /* for firefox 3.6+ */ 
}




/* layout */

aside { z-index: 1;  position: absolute; left: 10px; top: 120px; bottom: 60px; width: 330px; overflow: auto; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
#map { position: absolute; top: 120px; left: 350px; right: 10px; bottom: 60px; overflow: hidden; z-index: -1; border: solid black 1px; }
footer { position: absolute; bottom: 10px; left: 10px; right: 10px; height: 40px; overflow: hidden; z-index: 2; border: solid black 1px;  }


/* layout for mobile and small screen  */

@media screen and (max-width: 640px) {
   header, footer {display: none;}
   #map { top: 10px; left: 10px; right: 20px; bottom: auto; height: 290px; min-width:  290px;  }
   aside { top: 310px; left: 10px; right: 15px; bottom: inherit; height: auto; width: auto; overflow: auto; min-width: 290px;  box-shadow: none; }
   .googft-info-window img {display: none;}
}

aside li {
   list-style: none;
   padding: 3px;
}
label {
   padding-left: 10px;
}

.infoBox {
   background-color: #C0FFFF;
   border: 1px solid blue;
   textAlign: center;
   fontSize: 10pt;
   width: 100px;
}

@media print {
   aside, footer {
      display: none;
   }
   #map {
      top: 100px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      
   }   
   .googft-info-window {
      display: none;
   }
   
   header {
   height: 80px;
   margin: 10px;
}
header h1 {
   margin-top: 30px;
   text-align: center;
 
}
header img {
  display: none;
}
}

.directions {
    display: block !important;
}

#directions_panel {
   padding: 0px !important;
}

#directions_panel ul {
   padding: 10px;
}

#directions_panel input {
   width: 250px;
}










